# Project 2 - Working with Lists

In [ ]:
# Working with Lists
New Concepts	Description
Dynamic List	A dynamic list is encapsulated by brackets ([]). A list is mutable. Elements can be added to or deleted from a list on the fly.
List Concatenation	Two lists can be joined together in the same manner that strings are concatenated.
List Indexing	Lists are indexed with the first element being indexed as zero and the last element as the length of (number of elements in) the list less one. Indexes are called using brackets â€“ i.e., lst[0] calls the 0th element in the list.

In [2]:
empty_list = []
empty_list

[]

In [3]:
int_list = [1,2,3,4,5]
int_list

[1, 2, 3, 4, 5]

In [4]:
float_list = [1.,2.,3.,4.,5.]
float_list

[1.0, 2.0, 3.0, 4.0, 5.0]

In [5]:
string_list = ["Many words", "impoverished meaning"]
string_list

['Many words', 'impoverished meaning']

In [6]:
[1,2., "Mix it up"]

[1, 2.0, 'Mix it up']

In [7]:
mixed_list = [1, 2., "Mix it up"]
mixed_list, type(mixed_list)

([1, 2.0, 'Mix it up'], list)

## Concatenation: Lists

In [8]:
"a" + "b"

'ab'

In [9]:
[1] + [2]

[1, 2]

In [10]:
list1 = [1]
list2 = [2]
join_lists = list1 + list2
join_lists

[1, 2]

In [11]:
# similar to concatenating strings

str1 = "1"
str2 = "2"
join_strs = str1 + str2
join_strs

'12'

For Loops and range

a for loop using in range will cycle through variable i from integer j to k - 1 by increments of l

for i in range(j, k, l):
    
    execute script

In [16]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [18]:
total = 0
for i in range(1,101):
    total = total + i
print(total)

5050

In [22]:
total = 0 
for i in range(1, 101):
    total = total + i
    print(i, total)
    
total = 0
for i in range(1, 101, 2):
    total = total + i
    print(i, total)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
11 66
12 78
13 91
14 105
15 120
16 136
17 153
18 171
19 190
20 210
21 231
22 253
23 276
24 300
25 325
26 351
27 378
28 406
29 435
30 465
31 496
32 528
33 561
34 595
35 630
36 666
37 703
38 741
39 780
40 820
41 861
42 903
43 946
44 990
45 1035
46 1081
47 1128
48 1176
49 1225
50 1275
51 1326
52 1378
53 1431
54 1485
55 1540
56 1596
57 1653
58 1711
59 1770
60 1830
61 1891
62 1953
63 2016
64 2080
65 2145
66 2211
67 2278
68 2346
69 2415
70 2485
71 2556
72 2628
73 2701
74 2775
75 2850
76 2926
77 3003
78 3081
79 3160
80 3240
81 3321
82 3403
83 3486
84 3570
85 3655
86 3741
87 3828
88 3916
89 4005
90 4095
91 4186
92 4278
93 4371
94 4465
95 4560
96 4656
97 4753
98 4851
99 4950
100 5050
1 1
3 4
5 9
7 16
9 25
11 36
13 49
15 64
17 81
19 100
21 121
23 144
25 169
27 196
29 225
31 256
33 289
35 324
37 361
39 400
41 441
43 484
45 529
47 576
49 625
51 676
53 729
55 784
57 841
59 900
61 961
63 1024
65 1089
67 1156
69 1225
71 1296
73 1369
75 1444
77 1521
79 1600
81 1681
83 1764
85 1849
87 1936
89 2025
91 2116
93 2209
95 2304
97 2401
99 2500

In [21]:
list1 = [543, 342, 6, 435, 543]
str1 = "jhti4k3hu3i"

for val in list1:
    print(val)

for string in str1:
    print(string, string == "k")

543
342
6
435
543
j False
h False
t False
i False
4 False
k True
3 False
h False
u False
3 False
i False

In [1]:
list1 = [1,2]
list2 = [3,4]
list1 + list2

[1, 2, 3, 4]

## More on range

In [2]:
## Not just for for loops

In [3]:
for i in range (0,9,2):
    print(i)

0
2
4
6
8

In [5]:
# create a list by appending values to the list
for i in range (0,9,2):
    print (i)
    list1.append(i)
    

print(list1)

0
2
4
6
8
[1, 2, 0, 2, 4, 6, 8, 0, 2, 4, 6, 8]

In [13]:
# create a list by passing range (i,j,l), 
# a more efficient alternative to using append within a for loop
list2 = list(range(0,9,1))
list2

[0, 1, 2, 3, 4, 5, 6, 7, 8]

### Using len() with range

In [10]:
list2_len = len(list2)
list2_len
# for i in range ()

3

In [14]:
list2_len = len(list2)
print("i", "val")
for i in range (list2_len):
    print(i, list2[i])

i val
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8

## Nested for-loop

In [19]:
list2_len = len(list2)
print("i", "list")

# create a new list2 according to the interval values called by the for loop
for interval in range(1,6): 
    list2 = list(range(0,9, interval))
    print(interval, list2)
    list2_len = len(list2)
    print("length:", list2_len)
    print("j", "val")
    
    for j in range(list2_len):
        print(j, list2[j])
    
# for i in range (list2_len):

# print (i, list2[i])

i list
1 [0, 1, 2, 3, 4, 5, 6, 7, 8]
length: 9
j val
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
2 [0, 2, 4, 6, 8]
length: 5
j val
0 0
1 2
2 4
3 6
4 8
3 [0, 3, 6]
length: 3
j val
0 0
1 3
2 6
4 [0, 4, 8]
length: 3
j val
0 0
1 4
2 8
5 [0, 5]
length: 2
j val
0 0
1 5

## If statements and boolean variables

In [20]:
## Boolean - a variable that is a zero or a one (binary)
True * False

0

In [21]:
True * True

1

In [22]:
False * False

0

In [23]:
True

True

In [24]:
False

False

In [29]:
boolean = True

# conditional statement // if statement
if boolean: # if boolean == True
    print(boolean)
    
boolean2 = False
if boolean2 == False: # If boolean2 == True
    print(boolean2)
    print("if boolean2 is false, then you just printed this text. If not, then nothing happened")

True
False
if boolean2 is false, then you just printed this text. If not, then nothing happened

In [1]:
False == False

True

In [2]:
1 == True

True

In [3]:
# != is "not equal to"
1 != True

False

In [6]:
words = ["The", "cat", "ate", "the", "snow"]
# want to know if the word "ate" appears in the list and if so, where?

num_words = len(words)
for i in range(num_words):
    word = words[i]
    is_ate = word == "ate"
    print(i, words[i])

0 The
1 cat
2 ate
3 the
4 snow

In [16]:
is_ate = word == "ate"
is_ate

False

# Use a boolean variable and a conditional statement (if statement) to track the appearance of the word "ate"

In [15]:
words = ["The", "cat", "ate", "the", "snow"]
# does the word "ate" appear in the list? If so, where?
ate_index_list = []

num_words = len(words)
for i in range (num_words):
    word = words[i]
    print(i, word)
    # is ate is a boolean variable that tells whether or not the current word is "ate"
    is_ate = word == "ate"
    print("Is the word, \"ate\"?:", is_ate)
    # we used our for loop logic and tracked by index where the "ate" is
    
    # if the word is "ate", then add the index to the list so that we can have 
    # an easy to reference record of the indices where "ate" appears
    if is_ate:
        ate_index_list.append(i)
ate_index_list

0 The
Is the word, "ate"?: False
1 cat
Is the word, "ate"?: False
2 ate
Is the word, "ate"?: True
3 the
Is the word, "ate"?: False
4 snow
Is the word, "ate"?: False

[2]

##if, else, and elif

In [20]:
random_numbers = [1,4,5,8,122,454,5,67,87,4,3,2]

# is the number greater than 10?
not_greater_than_10 = []
greater_than_10 = []
for number in random_numbers:
    if number > 10:
        print(number, "is greater than 10")
        greater_than_10.append(number)
    else:
        print(number, "is not greater than 10")
        not_greater_than_10.append(number)

1 is not greater than 10
4 is not greater than 10
5 is not greater than 10
8 is not greater than 10
122 is greater than 10
454 is greater than 10
5 is not greater than 10
67 is greater than 10
87 is greater than 10
4 is not greater than 10
3 is not greater than 10
2 is not greater than 10

In [21]:
# you can check the not greater than list
not_greater_than_10

[1, 4, 5, 8, 5, 4, 3, 2]

In [22]:
# you can check the greater than list
greater_than_10

[122, 454, 67, 87]

In [54]:
random_numbers = [1,4,5,8,122,454,5,67,87,4,3,2, -13, -4, "9.5"]

# is the number greater than 10?
greater_than_10 = []
zero_to_10 = []
negative_numbers = []
for number in random_numbers:
    
    #catch string that might be in your list:
    if type(number) == str: number = float(number)
        
    if number > 10:
        print(number, "is greater than 10")
        greater_than_10.append(number)
## if a number is 10 or less, it will go to the elif statement and test
## that the number is zero or greater
    elif number >= 0 :
        print(number, "is in the domain of 0 and 10")
        zero_to_10.append(number)
## the else statement catches any numbers that are negative since the prvious conditional
## statements checked if the number was zero or greater
    else:
        print(number, "is negative")
        negative_numbers.append(number)

1 is in the domain of 0 and 10
4 is in the domain of 0 and 10
5 is in the domain of 0 and 10
8 is in the domain of 0 and 10
122 is greater than 10
454 is greater than 10
5 is in the domain of 0 and 10
67 is greater than 10
87 is greater than 10
4 is in the domain of 0 and 10
3 is in the domain of 0 and 10
2 is in the domain of 0 and 10
-13 is negative
-4 is negative
9.5 is in the domain of 0 and 10

In [55]:
greater_than_10, zero_to_10, negative_numbers

([122, 454, 67, 87], [1, 4, 5, 8, 5, 4, 3, 2, 9.5], [-13, -4])

# Use del lst[i]

In [56]:
# use del lst[1] to delete the ith element from list

del greater_than_10[1]
del zero_to_10[1] 
del negative_numbers[1]
greater_than_10, zero_to_10, negative_numbers

([122, 67, 87], [1, 5, 8, 5, 4, 3, 2, 9.5], [-13])

In [57]:
# passing -1 as a list index calls for the last element in the list
# passing -1 when using del lst[i] will delete the last element in the list
del greater_than_10[-1]
del zero_to_10[-1] 
del negative_numbers[-1]
greater_than_10, zero_to_10, negative_numbers

([122, 67], [1, 5, 8, 5, 4, 3, 2], [])

# Use lst.remove(val)

In [63]:
# use lst.remove(val)
greater_than_10.remove(122)

#if you remove a value that appears twice in the list, then the first 
# appearance of that value will be removed

zero_to_10.remove(1)
greater_than_10, zero_to_10

([], [5, 8, 5, 4, 3, 2])

## Use lst.pop()

In [60]:
last_val_in_lst = greater_than_10.pop()
greater_than_10, last_val_in_lst

([122], 67)

## sorting lists

In [69]:
# sorted(lst) will sort a copy of lst
num_list = [1,4,2,5,543,22]
string_list = ["A", "list", "of", "strings", "is", "in", "string_list"]
num_list, sorted(num_list), num_list

([1, 4, 2, 5, 543, 22], [1, 2, 4, 5, 22, 543], [1, 4, 2, 5, 543, 22])

In [70]:
string_list = ["A", "list", "of", "strings", "is", "in", "string_list"]
string_list, sorted(string_list)

(['A', 'list', 'of', 'strings', 'is', 'in', 'string_list'],
 ['A', 'in', 'is', 'list', 'of', 'string_list', 'strings'])

In [71]:
# lst.sort() will sort the original list object
num_list.sort()
num_list

[1, 2, 4, 5, 22, 543]

In [72]:
# sorting mixed types will generate an error
# you cannot compare strings and numerical values
sorted(num_list + string_list)

TypeError: '<' not supported between instances of 'str' and 'int'

## list slices

In [73]:
# a slice of a list takes a subset of values from a list

In [74]:
lst = [1,2,3,4,5,6,6,7]
# compare full list to sliced list
lst,lst[2:5]

([1, 2, 3, 4, 5, 6, 6, 7], [3, 4, 5])

In [75]:
# count through the index by twos
# explicit start and end index values
lst, lst[0:-1:2]

([1, 2, 3, 4, 5, 6, 6, 7], [1, 3, 5, 6])

In [76]:
# implicit start and end index values
lst, lst [::2]

([1, 2, 3, 4, 5, 6, 6, 7], [1, 3, 5, 6])

## lists and generator functions

In [79]:
# save a generator function without creating a list
generator = (i for i in range(20))
generator

In [80]:
list1 = list(generator)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [81]:
list2 = [2 * i for i in range(20)]
list2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]