## Functional Programming: Rudimentary Statistics

return obj (from function): Functions may return an object to be saved if a variable is defined by the function i.e., var1 = function(obj1, obj2, . . .)

# Building a Function

In [1]:
# def function_name(object1, object2, ..., objectn):
   # <operations>

# Total Function:

$\sum_{i=0}^{n-1} x_{i}$

In [2]:
n = 0
total = 0
values = [i for i in range(10)]

print("total\t", "value")
for value in values:
    total += value
    print(total,"\t", value)
    
print("final total:", total)

total	 value
0 	 0
1 	 1
3 	 2
6 	 3
10 	 4
15 	 5
21 	 6
28 	 7
36 	 8
45 	 9
final total: 45

In [3]:
# This is a bad idea!! don't keep copying and pasting old code!
print("total\t", "value")
total = 0
values = [i for i in range(0,1000,2)]
for value in values:
    total += value
    print(total, "\t", value)

total	 value
0 	 0
2 	 2
6 	 4
12 	 6
20 	 8
30 	 10
42 	 12
56 	 14
72 	 16
90 	 18
110 	 20
132 	 22
156 	 24
182 	 26
210 	 28
240 	 30
272 	 32
306 	 34
342 	 36
380 	 38
420 	 40
462 	 42
506 	 44
552 	 46
600 	 48
650 	 50
702 	 52
756 	 54
812 	 56
870 	 58
930 	 60
992 	 62
1056 	 64
1122 	 66
1190 	 68
1260 	 70
1332 	 72
1406 	 74
1482 	 76
1560 	 78
1640 	 80
1722 	 82
1806 	 84
1892 	 86
1980 	 88
2070 	 90
2162 	 92
2256 	 94
2352 	 96
2450 	 98
2550 	 100
2652 	 102
2756 	 104
2862 	 106
2970 	 108
3080 	 110
3192 	 112
3306 	 114
3422 	 116
3540 	 118
3660 	 120
3782 	 122
3906 	 124
4032 	 126
4160 	 128
4290 	 130
4422 	 132
4556 	 134
4692 	 136
4830 	 138
4970 	 140
5112 	 142
5256 	 144
5402 	 146
5550 	 148
5700 	 150
5852 	 152
6006 	 154
6162 	 156
6320 	 158
6480 	 160
6642 	 162
6806 	 164
6972 	 166
7140 	 168
7310 	 170
7482 	 172
7656 	 174
7832 	 176
8010 	 178
8190 	 180
8372 	 182
8556 	 184
8742 	 186
8930 	 188
9120 	 190
9312 	 192
9506 	 194
9702 	 196
9900 	 198
10100 	 200
10302 	 202
10506 	 204
10712 	 206
10920 	 208
11130 	 210
11342 	 212
11556 	 214
11772 	 216
11990 	 218
12210 	 220
12432 	 222
12656 	 224
12882 	 226
13110 	 228
13340 	 230
13572 	 232
13806 	 234
14042 	 236
14280 	 238
14520 	 240
14762 	 242
15006 	 244
15252 	 246
15500 	 248
15750 	 250
16002 	 252
16256 	 254
16512 	 256
16770 	 258
17030 	 260
17292 	 262
17556 	 264
17822 	 266
18090 	 268
18360 	 270
18632 	 272
18906 	 274
19182 	 276
19460 	 278
19740 	 280
20022 	 282
20306 	 284
20592 	 286
20880 	 288
21170 	 290
21462 	 292
21756 	 294
22052 	 296
22350 	 298
22650 	 300
22952 	 302
23256 	 304
23562 	 306
23870 	 308
24180 	 310
24492 	 312
24806 	 314
25122 	 316
25440 	 318
25760 	 320
26082 	 322
26406 	 324
26732 	 326
27060 	 328
27390 	 330
27722 	 332
28056 	 334
28392 	 336
28730 	 338
29070 	 340
29412 	 342
29756 	 344
30102 	 346
30450 	 348
30800 	 350
31152 	 352
31506 	 354
31862 	 356
32220 	 358
32580 	 360
32942 	 362
33306 	 364
33672 	 366
34040 	 368
34410 	 370
34782 	 372
35156 	 374
35532 	 376
35910 	 378
36290 	 380
36672 	 382
37056 	 384
37442 	 386
37830 	 388
38220 	 390
38612 	 392
39006 	 394
39402 	 396
39800 	 398
40200 	 400
40602 	 402
41006 	 404
41412 	 406
41820 	 408
42230 	 410
42642 	 412
43056 	 414
43472 	 416
43890 	 418
44310 	 420
44732 	 422
45156 	 424
45582 	 426
46010 	 428
46440 	 430
46872 	 432
47306 	 434
47742 	 436
48180 	 438
48620 	 440
49062 	 442
49506 	 444
49952 	 446
50400 	 448
50850 	 450
51302 	 452
51756 	 454
52212 	 456
52670 	 458
53130 	 460
53592 	 462
54056 	 464
54522 	 466
54990 	 468
55460 	 470
55932 	 472
56406 	 474
56882 	 476
57360 	 478
57840 	 480
58322 	 482
58806 	 484
59292 	 486
59780 	 488
60270 	 490
60762 	 492
61256 	 494
61752 	 496
62250 	 498
62750 	 500
63252 	 502
63756 	 504
64262 	 506
64770 	 508
65280 	 510
65792 	 512
66306 	 514
66822 	 516
67340 	 518
67860 	 520
68382 	 522
68906 	 524
69432 	 526
69960 	 528
70490 	 530
71022 	 532
71556 	 534
72092 	 536
72630 	 538
73170 	 540
73712 	 542
74256 	 544
74802 	 546
75350 	 548
75900 	 550
76452 	 552
77006 	 554
77562 	 556
78120 	 558
78680 	 560
79242 	 562
79806 	 564
80372 	 566
80940 	 568
81510 	 570
82082 	 572
82656 	 574
83232 	 576
83810 	 578
84390 	 580
84972 	 582
85556 	 584
86142 	 586
86730 	 588
87320 	 590
87912 	 592
88506 	 594
89102 	 596
89700 	 598
90300 	 600
90902 	 602
91506 	 604
92112 	 606
92720 	 608
93330 	 610
93942 	 612
94556 	 614
95172 	 616
95790 	 618
96410 	 620
97032 	 622
97656 	 624
98282 	 626
98910 	 628
99540 	 630
100172 	 632
100806 	 634
101442 	 636
102080 	 638
102720 	 640
103362 	 642
104006 	 644
104652 	 646
105300 	 648
105950 	 650
106602 	 652
107256 	 654
107912 	 656
108570 	 658
109230 	 660
109892 	 662
110556 	 664
111222 	 666
111890 	 668
112560 	 670
113232 	 672
113906 	 674
114582 	 676
115260 	 678
115940 	 680
116622 	 682
117306 	 684
117992 	 686
118680 	 688
119370 	 690
120062 	 692
120756 	 694
121452 	 696
122150 	 698
122850 	 700
123552 	 702
124256 	 704
124962 	 706
125670 	 708
126380 	 710
127092 	 712
127806 	 714
128522 	 716
129240 	 718
129960 	 720
130682 	 722
131406 	 724
132132 	 726
132860 	 728
133590 	 730
134322 	 732
135056 	 734
135792 	 736
136530 	 738
137270 	 740
138012 	 742
138756 	 744
139502 	 746
140250 	 748
141000 	 750
141752 	 752
142506 	 754
143262 	 756
144020 	 758
144780 	 760
145542 	 762
146306 	 764
147072 	 766
147840 	 768
148610 	 770
149382 	 772
150156 	 774
150932 	 776
151710 	 778
152490 	 780
153272 	 782
154056 	 784
154842 	 786
155630 	 788
156420 	 790
157212 	 792
158006 	 794
158802 	 796
159600 	 798
160400 	 800
161202 	 802
162006 	 804
162812 	 806
163620 	 808
164430 	 810
165242 	 812
166056 	 814
166872 	 816
167690 	 818
168510 	 820
169332 	 822
170156 	 824
170982 	 826
171810 	 828
172640 	 830
173472 	 832
174306 	 834
175142 	 836
175980 	 838
176820 	 840
177662 	 842
178506 	 844
179352 	 846
180200 	 848
181050 	 850
181902 	 852
182756 	 854
183612 	 856
184470 	 858
185330 	 860
186192 	 862
187056 	 864
187922 	 866
188790 	 868
189660 	 870
190532 	 872
191406 	 874
192282 	 876
193160 	 878
194040 	 880
194922 	 882
195806 	 884
196692 	 886
197580 	 888
198470 	 890
199362 	 892
200256 	 894
201152 	 896
202050 	 898
202950 	 900
203852 	 902
204756 	 904
205662 	 906
206570 	 908
207480 	 910
208392 	 912
209306 	 914
210222 	 916
211140 	 918
212060 	 920
212982 	 922
213906 	 924
214832 	 926
215760 	 928
216690 	 930
217622 	 932
218556 	 934
219492 	 936
220430 	 938
221370 	 940
222312 	 942
223256 	 944
224202 	 946
225150 	 948
226100 	 950
227052 	 952
228006 	 954
228962 	 956
229920 	 958
230880 	 960
231842 	 962
232806 	 964
233772 	 966
234740 	 968
235710 	 970
236682 	 972
237656 	 974
238632 	 976
239610 	 978
240590 	 980
241572 	 982
242556 	 984
243542 	 986
244530 	 988
245520 	 990
246512 	 992
247506 	 994
248502 	 996
249500 	 998

In [4]:
# build a function:
def total(lst):
    total_ = 0
    # in original I used the index of the list
    # ... 
    # n = len(lst)
    # for i in range(n)
    for val in lst:
        total_ += val
    return total_
total(values)

249500

In [5]:
total([i for i in range(-1000, 10000, 53)])

932984

In [6]:
# now you never have to build this code again, you just have to call it

In [7]:
import random
X1 = [3, 6, 9, 12, 15,18,21,24,27,30]
X2 = [random.randint(0,100) for i in range(10)]
total(X1), total(X2)

(165, 401)

## Statistical Functions
| New Concepts | Description |
| --- | --- |
| Operators e.g., !=, %, +=, \*\* | The operator != tests whether the values on either side of the operator are equal; _a % b_ returns the remainder of $a / b$; _a += b_ sets a equal to $a + b$; _a ** b_ raises a to the b power ($a^b$). |
| Dictionary | A dictionary is a datastructure that uses keys instead of index values. Each unique key references an object linked to that key. |
| Dictionary Methods e.g., _dct.values()_ | dct.values() returns a list of the objects that are referenced by the dictionaries keys.|
| Default Function Values | Function may assume a default value for values passed to it. e.g., _def function(val1 = 0, val2 = 2, ‚Ä¶)_ |

## Mean Function

# Let $X_1, X_2,...,X_n$ represent $n$ random variables. For a given dataset, useful descriptive statistics of central tendency include mean, median, and mode, which we built as functions in a previous chapter. 

# We define the mean of a set of numbers:
# $\bar{X} = \frac{\sum_{i=0}^{n-1} x_{i}} {n}$

In [8]:
def mean(lst):
    n = len(lst)
    mean_ = total(lst) / n
    return mean_
mean(X1), mean(X2)

(16.5, 40.1)

In [9]:
# Now let's build the rest of the summary statistical functions

# 1. median
# 2. mode
# 3. variance
# 4. standard deviation
# 5. covariance
# 6. correlation

# Median: the middle most number in a list. It is less sensitive to outliers than mean; it is the value in the middle of the dataset.

# For a series of odd length defined by a range [i, n] starting with index  ùëñ=0, the median is n/2

# For a series that is of even length but otherwise the same, the median is the mean value of the two values that comprise middle of the list. The indices of these numbers are equal defined:

# $$i_1 = \frac{n + 1}{2}; i_2\frac{n - 1}{2}$$

In [10]:
def median(lst):
    n = len(lst)
    lst = sorted(lst)
# two cases:
# 1. list of odd length
# i % j checks for remainder upon dividing i by j 
    if n % 2 != 0:
        #list length is odd
        middle_index = int((n - 1) / 2)
        median_ = lst[middle_index]
# 2. list of even length
    else:
        upper_middle_index = int(n / 2)
        lower_middle_index = upper_middle_index - 1
        # pass slice with two middle values to mean()
        median_ = mean(lst[lower_middle_index : upper_middle_index + 1])
        
    return median_
# . . . 
median1 = median(X1)
median2 = median(X2)
print("median of X1:", median1)
print("median of X2:", median2)

median of X1: 16.5
median of X2: 25.5

In [11]:
# transform X1 to be of odd length by removing the last index:
# this is to test the first case in the median() function
median(X1[:-1])

15

In [12]:
sorted(X2)

[5, 13, 16, 21, 22, 29, 64, 67, 78, 86]

## Mode: most occurring

In [13]:
def mode(lst):
    count_dct = {}
    # create entries for each value with 0
    for key in lst:
        count_dct[key] = 0
    # add up each occurence
    for key in lst:
        count_dct[key] += 1
    # calculate max_count up front
    max_count = max(count_dct.values())
    # now we can compare each count to the max count
    mode_ = []
    
    # call the key and value it is paired to:
    for key, count in count_dct.items():
        if count == max_count:
            mode_.append(key)
    
    return mode_

lst = [1,1,1,1,1,2,3,4,5,5,5,5,5,1000,1000]
mode(lst)

[1, 5]

## Variance: Average values do not provide a robust description of the data. An average does not tell us the shape of a distribution. In this section, we will build functions to calculate statistics describing distribution of variables and their relationships. The first of these is the variance of a list of numbers.

# We define population variance as:

# $$ \sigma^2 = \frac{\sum_{i=1}^n (X_i - \bar{X})^2}{n}$$

# Degrees of Freedom: 
# $$DoF = n - 1$$

# $$ S^2 = \frac{\sum_{i=1}^n (X_i - \bar{X})^2}{n-1}$$

In [14]:
def variance(lst, sample = True):
    # save mean value of list:
    list_mean = mean(lst)
    # Use n to calculate average of sum squared diffs
    n = len(lst)
    DoF = n - 1
    # create value we can add squared diffs to: 
    sum_sq_diff = 0
    
    for val in lst:
        diff = val - list_mean
        sum_sq_diff += (diff) ** 2
        # print(val, list_mean, sum_sq_diff)
    if sample == False:
        # normalize result by dividing by n:
        variance_ = sum_sq_diff / n
    else: 
        # normalize by dividing by (n-1) for samples:
        variance_ = sum_sq_diff / DoF
    return variance_
variance(X1, sample = True), variance(X1, sample = False)

(82.5, 74.25)

In [15]:
variance(X2, sample = True), variance(X2, sample = False)

(911.2111111111111, 820.0899999999999)

# Standard Deviation: how far from the mean are we traveling
# $sd = \sqrt{S^2}$

In [16]:
# calculate standard deviation
def SD(lst, sample = True):
    SD_ = variance(lst, sample) ** (1/2)
    return SD_
SD(X1, sample = True), SD(X1, sample = False)

(9.082951062292475, 8.616843969807043)

In [17]:
SD(X2, sample = True), SD(X2, sample = False)

(30.186273554566338, 28.637213551601)

# Standard Error: 
A reference to the distribution that the mean of your data is drawn from

This describes how likely a given random sample mean $\bar{x_i}$ is to deviate from the population mean $\mu$. It is the standard deviation of the probability distribution for the random variable $\bar{X}$, which represents all possible samples of a single given sample size $n$. As $n$ increases, $\bar{X}$ can be expected to deviate less from $\mu$, so standard error decreases. Because population standard deviation $\sigma$ is rarely given, we again use an _estimator_ for standard error, denoted $s_\bar{x}$. Populational data has no standard error as $\mu$ can only take on a single value.

In [18]:
# Build out a standard error:
def STE(lst, sample = True):
    n = len(lst)
    se = SD(lst, sample) / n ** (1/2)
    
    return se

In [19]:
SD(X1, sample = True), STE(X1, sample = True)

(9.082951062292475, 2.872281323269014)

In [20]:
SD(X2, sample = True), STE(X2, sample = True)

(30.186273554566338, 9.545737850533666)

In [21]:
# standard error is significantly smaller than standard deviation

## Covariance

To calculate covariance, we multiply the sum of the product of the difference between the observed value and the mean of each list for value _i = 1_ through _n = number of observations_:

# $cov_{pop}(x,y) = \frac{\sum_{i=0}^{n-1} (x_{i} - x_{mean})(y_{i} - y_{mean})} {n}$

We pass two lists through the covariance() function. As with the _variance()_ and _SD()_ functions, we can take the sample-covariance.

# $cov_{sample}(x,y) = \frac{\sum_{i=0}^{n-1} (x_{i} - x_{mean})(y_{i} - y_{mean})} {n - 1}$

In [22]:
def covariance(lst1, lst2, sample = False):
    mean1 = mean(lst1)
    mean2 = mean(lst2)
    # prepare covariance of zero
    cov = 0
    # get length of each list:
    n1 = len(lst1)
    n2 = len(lst2)
    # check if lists are the same length:
    if n1 == n2:
        n = n1
        # sum the product of the differences
        for i in range(n):
            cov += (lst1[i] - mean1) * (lst2[i] - mean2)
        if sample == False:
            cov = cov / n
        # account for sample by dividing by one less than number of elements in list
        else:
            cov = cov / (n - 1)
        # return covariance
        return cov
    else:
        print("List lengths are not equal")
        print("List1:", n1)
        print("List2:", n2)
covariance(X1, X2)

-60.75

In [23]:
covariance(X1[:-1], X2)

List lengths are not equal
List1: 9
List2: 10

We can transform the covariance into a correlation value by dividing by the product of the standard deviations. 

$corr_{pop}(x,y) = \frac{cov_{pop}(x, y)} {\sigma_x \sigma_y}$

In [24]:
def correlation(lst1, lst2):
    cov = covariance(lst1, lst2)
    SD1 = SD(lst1)
    SD2 = SD(lst2)
    corr = cov / (SD1 * SD2)
    
    return corr
correlation(X1, X2)

-0.2215694117080205

In [25]:
X3 = [x * -0.5 for x in X1]
correlation(X1, X3)

-0.9

# Skewness

Not all distributions are normal, so we need statistics that reflect differences in shapes between distributions.

Skewness is a measure of asymmetry of a population of data about the mean. It is the expected value of the cube of the standard deviation.

$skew_{pop}(x,y) = \frac{\sum_{i=0}^{n-1}{(x_{i} - x_{mean})^3}} {n\sigma^3}$


$skew_{sample}(x,y) = \frac{\sum_{i=0}^{n-1}{(x_{i} - x_{mean})^3}} {(n-1)(n-2)\sigma^3}$

In [26]:
def skewness(lst, sample = True):
    # get mean:
    mean_ = mean(lst)
    # get standard deviation:
    SD_ = SD(lst, sample)
    # start with a skewness of zero:
    skew = 0
    n = len(lst)
    for val in lst:
        skew += (val - mean_) ** 3
    skew = skew / (n * SD_ ** 3) if not sample else n * skew / ((n - 1)*(n - 1) * SD_ ** 3)
        
    return skew

skewness(X1)

0.0

In [27]:
skewness(X2)

0.4167462942254189

# Kurtosis

Kurtosis is an absolute measure of the weight of outliers. While skewness describes the ‚Äòlean‚Äô of a distribution, kurtosis describes the weight of a distribution that is held in the tails. Kurtosis is the sum of the difference between each observation and the population mean raised to the fourth power. This value is then normalized by the standard deviation raised to the fourth power. As with the other statistical values, kurtosis can be taken for a population and for a sample.

$kurt_{pop} = \frac{\sum_{i=0}^{n-1} (x_{i} - x_{mean})^4} {n\sigma^4}$

$kurt_{sample} = \frac{n(n+1)\sum_{i=0}^{n-1} (x_{i} - x_{mean})^4} {(n - 1)(n - 2)( n - 3)\sigma^4} - \frac{3(n - 1)^2}{(n - 2)(n - 3)}$

In [31]:
def kurtosis(lst, sample = True):
    # Get mean
    mean_ = mean(lst)
    # set default kurtosis to start at zero
    kurt = 0
    # get standard deviation:
    SD_ = SD(lst, sample)
    n = len(lst)
    for x in lst:
        kurt += (x - mean_) ** 4
    kurt = kurt / (n * SD_ ** 4) if  sample == False else  n * (n + 1) * kurt / \
    ((n - 1) * (n - 2) * (n - 3) * (SD_ ** 4)) - (3 *(n - 1) ** 2) / ((n - 2) * (n - 3))
    
    return kurt

kurtosis(X1, sample = False)

1.7757575757575759

In [32]:
kurtosis(X2, sample = False)

1.4871745191773584

# Gather Statistics

## Using a Nested Dictionary to Organize Statistics

| New Concepts | Descripton |
| --- | --- |
| Filling dictionary with for loop | When a dictionary is called in a for loop in the form, for key in dct, the for loop will iterate through dct.keys().|

In [38]:
import pandas as pd
def gather_statistics(df, sample = False, round_dig =3):
    dct = {key:{} for key in df}
    for key, val in df.items():
        # drop null values: 
        val.dropna(inplace = True)
        # add to dictionary:
        dct[key]["mean"] = (mean(val), round_dig)
        dct[key]["median"] = (median(val), round_dig)   
        dct[key]["variance"] = (variance(val), round_dig)  
        dct[key]["s.d."] = (SD(val), round_dig)    
        dct[key]["skewness"] = (skewness(val), round_dig)  
        dct[key]["kurtosis"] = (kurtosis(val), round_dig)  
    stats_df = pd.DataFrame(dct)
    return stats_df
    
data = pd.DataFrame([X1, X2], index = ["List1", "List2"]).T
gather_statistics(data, sample = False, round_dig = 2)

                             List1                     List2
mean                     (16.5, 2)                 (40.1, 2)
median                   (16.5, 2)                 (25.5, 2)
variance                 (82.5, 2)    (911.2111111111111, 2)
s.d.        (9.082951062292475, 2)   (30.186273554566338, 2)
skewness                  (0.0, 2)   (0.4167462942254189, 2)
kurtosis  (-1.1999999999999997, 2)  (-1.7101736178828837, 2)

| New Concepts | Description |
| --- | --- |
| _pandas_ methods (more) | *pd.read_excel()*, *pd.to_numeric()*, *df.to_csv()* |

# Fraser Economic Freedom of the World

In [42]:
filename = "World Econ Data.xlsx"
data = pd.read_excel(filename, header = [4],
                    index_col = [3,1])
data

,,Unnamed: 0,ISO Code 2,Countries,Economic Freedom Summary Index,Rank,Quartile,1A Government Consumption,data,1B Transfers and subsidies,data.1,...,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109,Unnamed: 110
ISO Code 3,Year,,,,,,,,,,,,,,,,,,,,,
ALB,2020,NaN,AL,Albania,7.64,26.0,1.0,8.026471,12.710000,6.978202,11.590000,...,2011.00,2012.00,2013.00,2014.00,2015.00,2016.0,2017.0,2018.0,2019.00,2020.00
DZA,2020,NaN,DZ,Algeria,5.12,157.0,4.0,3.102941,29.450000,7.817129,8.511137,...,153.00,153.00,157.00,159.00,159.00,162.0,162.0,162.0,165.00,165.00
AGO,2020,NaN,AO,Angola,5.91,138.0,4.0,7.700000,13.820000,9.702997,1.590000,...,38.25,38.25,39.25,39.75,39.75,40.5,40.5,40.5,41.25,41.25
ARG,2020,NaN,AR,Argentina,4.87,161.0,4.0,5.985294,19.650000,6.493188,13.370000,...,114.75,114.75,117.75,119.25,119.25,121.5,121.5,121.5,123.75,123.75
ARM,2020,NaN,AM,Armenia,7.84,11.0,1.0,6.605882,17.540000,7.223433,10.690000,...,76.50,76.50,78.50,79.50,79.50,81.0,81.0,81.0,82.50,82.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VEN,1970,NaN,VE,"Venezuela, RB",7.19,13.0,1.0,6.602003,17.553191,9.827430,1.133333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VNM,1970,NaN,VN,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEM,1970,NaN,YE,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZMB,1970,NaN,ZM,Zambia,5.33,54.0,3.0,3.448131,28.276353,9.105430,3.783070,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZWE,1970,NaN,ZW,Zimbabwe,NaN,NaN,NaN,7.806922,13.456464,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
data = pd.read_excel(filename,
                    sheet_name = "EFW Panel Data 2022 Report")
rename = {"Panel Data Summary Index": "Summary",
         "Area 1": "Size of Government",
         "Area 2": "Legal System and Property Rights",
         "Area 3": "Sound Money",
         "Area 4": "Freedom to Trade Internationally",
         "Area 5": "Regulation"}
data.rename(columns = rename)

,Year,ISO_Code_2,ISO_Code_3,World Bank Region,"World Bank Current Income Classification, 1990-present (L=Low income, LM=Lower middle income, UM=Upper middle income, H=High income)",Countries,Summary,Size of Government,Legal System and Property Rights,Sound Money,Freedom to Trade Internationally,Regulation,Standard Deviation of the 5 EFW Areas
0,2020,AL,ALB,Europe & Central Asia,UM,Albania,7.640000,7.817077,5.260351,9.788269,8.222499,7.112958,1.652742
1,2020,DZ,DZA,Middle East & North Africa,LM,Algeria,5.120000,4.409943,4.131760,7.630287,3.639507,5.778953,1.613103
2,2020,AO,AGO,Sub-Saharan Africa,LM,Angola,5.910000,8.133385,3.705161,6.087996,5.373190,6.227545,1.598854
3,2020,AR,ARG,Latin America & the Caribbean,UM,Argentina,4.870000,6.483768,4.796454,4.516018,3.086907,5.490538,1.254924
4,2020,AM,ARM,Europe & Central Asia,UM,Armenia,7.840000,7.975292,6.236215,9.553009,7.692708,7.756333,1.178292
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4450,1970,VE,VEN,Latin America & the Caribbean,NaN,"Venezuela, RB",7.242943,8.349529,5.003088,9.621851,7.895993,5.209592,2.028426
4451,1970,VN,VNM,East Asia & Pacific,NaN,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4452,1970,YE,YEM,Middle East & North Africa,NaN,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4453,1970,ZM,ZMB,Sub-Saharan Africa,NaN,Zambia,4.498763,5.374545,4.472812,5.137395,NaN,5.307952,0.412514
4454,1970,ZW,ZWE,Sub-Saharan Africa,NaN,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN