# Project 2 - Working with Lists

In [ ]:
# Working with Lists
New Concepts	Description
Dynamic List	A dynamic list is encapsulated by brackets ([]). A list is mutable. Elements can be added to or deleted from a list on the fly.
List Concatenation	Two lists can be joined together in the same manner that strings are concatenated.
List Indexing	Lists are indexed with the first element being indexed as zero and the last element as the length of (number of elements in) the list less one. Indexes are called using brackets â€“ i.e., lst[0] calls the 0th element in the list.

In [2]:
empty_list = []
empty_list

[]

In [3]:
int_list = [1,2,3,4,5]
int_list

[1, 2, 3, 4, 5]

In [4]:
float_list = [1.,2.,3.,4.,5.]
float_list

[1.0, 2.0, 3.0, 4.0, 5.0]

In [5]:
string_list = ["Many words", "impoverished meaning"]
string_list

['Many words', 'impoverished meaning']

In [6]:
[1,2., "Mix it up"]

[1, 2.0, 'Mix it up']

In [7]:
mixed_list = [1, 2., "Mix it up"]
mixed_list, type(mixed_list)

([1, 2.0, 'Mix it up'], list)

## Concatenation: Lists

In [8]:
"a" + "b"

'ab'

In [9]:
[1] + [2]

[1, 2]

In [10]:
list1 = [1]
list2 = [2]
join_lists = list1 + list2
join_lists

[1, 2]

In [11]:
# similar to concatenating strings

str1 = "1"
str2 = "2"
join_strs = str1 + str2
join_strs

'12'

For Loops and range

a for loop using in range will cycle through variable i from integer j to k - 1 by increments of l

for i in range(j, k, l):
    
    execute script

In [16]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [18]:
total = 0
for i in range(1,101):
    total = total + i
print(total)

5050

In [22]:
total = 0 
for i in range(1, 101):
    total = total + i
    print(i, total)
    
total = 0
for i in range(1, 101, 2):
    total = total + i
    print(i, total)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
11 66
12 78
13 91
14 105
15 120
16 136
17 153
18 171
19 190
20 210
21 231
22 253
23 276
24 300
25 325
26 351
27 378
28 406
29 435
30 465
31 496
32 528
33 561
34 595
35 630
36 666
37 703
38 741
39 780
40 820
41 861
42 903
43 946
44 990
45 1035
46 1081
47 1128
48 1176
49 1225
50 1275
51 1326
52 1378
53 1431
54 1485
55 1540
56 1596
57 1653
58 1711
59 1770
60 1830
61 1891
62 1953
63 2016
64 2080
65 2145
66 2211
67 2278
68 2346
69 2415
70 2485
71 2556
72 2628
73 2701
74 2775
75 2850
76 2926
77 3003
78 3081
79 3160
80 3240
81 3321
82 3403
83 3486
84 3570
85 3655
86 3741
87 3828
88 3916
89 4005
90 4095
91 4186
92 4278
93 4371
94 4465
95 4560
96 4656
97 4753
98 4851
99 4950
100 5050
1 1
3 4
5 9
7 16
9 25
11 36
13 49
15 64
17 81
19 100
21 121
23 144
25 169
27 196
29 225
31 256
33 289
35 324
37 361
39 400
41 441
43 484
45 529
47 576
49 625
51 676
53 729
55 784
57 841
59 900
61 961
63 1024
65 1089
67 1156
69 1225
71 1296
73 1369
75 1444
77 1521
79 1600
81 1681
83 1764
85 1849
87 1936
89 2025
91 2116
93 2209
95 2304
97 2401
99 2500

In [21]:
list1 = [543, 342, 6, 435, 543]
str1 = "jhti4k3hu3i"

for val in list1:
    print(val)

for string in str1:
    print(string, string == "k")

543
342
6
435
543
j False
h False
t False
i False
4 False
k True
3 False
h False
u False
3 False
i False

In [1]:
list1 = [1,2]
list2 = [3,4]
list1 + list2

[1, 2, 3, 4]

## More on range

In [2]:
## Not just for for loops

In [3]:
for i in range (0,9,2):
    print(i)

0
2
4
6
8

In [5]:
# create a list by appending values to the list
for i in range (0,9,2):
    print (i)
    list1.append(i)
    

print(list1)

0
2
4
6
8
[1, 2, 0, 2, 4, 6, 8, 0, 2, 4, 6, 8]

In [13]:
# create a list by passing range (i,j,l), 
# a more efficient alternative to using append within a for loop
list2 = list(range(0,9,1))
list2

[0, 1, 2, 3, 4, 5, 6, 7, 8]

### Using len() with range

In [10]:
list2_len = len(list2)
list2_len
# for i in range ()

3

In [14]:
list2_len = len(list2)
print("i", "val")
for i in range (list2_len):
    print(i, list2[i])

i val
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8

## Nested for-loop

In [19]:
list2_len = len(list2)
print("i", "list")

# create a new list2 according to the interval values called by the for loop
for interval in range(1,6): 
    list2 = list(range(0,9, interval))
    print(interval, list2)
    list2_len = len(list2)
    print("length:", list2_len)
    print("j", "val")
    
    for j in range(list2_len):
        print(j, list2[j])
    
# for i in range (list2_len):

# print (i, list2[i])

i list
1 [0, 1, 2, 3, 4, 5, 6, 7, 8]
length: 9
j val
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
2 [0, 2, 4, 6, 8]
length: 5
j val
0 0
1 2
2 4
3 6
4 8
3 [0, 3, 6]
length: 3
j val
0 0
1 3
2 6
4 [0, 4, 8]
length: 3
j val
0 0
1 4
2 8
5 [0, 5]
length: 2
j val
0 0
1 5

## If statements and boolean variables

In [20]:
## Boolean - a variable that is a zero or a one (binary)
True * False

0

In [21]:
True * True

1

In [22]:
False * False

0

In [23]:
True

True

In [24]:
False

False

In [29]:
boolean = True

# conditional statement // if statement
if boolean: # if boolean == True
    print(boolean)
    
boolean2 = False
if boolean2 == False: # If boolean2 == True
    print(boolean2)
    print("if boolean2 is false, then you just printed this text. If not, then nothing happened")

True
False
if boolean2 is false, then you just printed this text. If not, then nothing happened